<div id="wrapper">
      {{!-- <h1>Note Scraper</h1>
      <h2><i>If you can do this...the homework should be no problem.</i></h2>
       --}}
      

  {{#each scrapes}}

      <div id="articles">{{this.title}}</div>
      <div id="notes">{{this.note}}</div>
      
      
  {{/each}}
    </div>